@font-face {
  font-family: "PingFang Regular";
  src: url("../font/PingFang Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang Medium";
  src: url("../font/PingFang Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang Bold";
  src: url("../font/PingFang Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang Light";
  src: url("../font/PingFang Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
